{{> header }}

<main id="main">
    <div class="container mt-5">
        <div class="row">
            <h1>Зображення</h1>
            {{#each images}}
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card p-3">
                        <img class="card-img-top" src="/uploads/{{this.fileName}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">
                                {{#if this.isRecognized }}
                                    Текст: {{this.fullTextAnnotation.text}}
                                {{else }}
                                    Не розпізнано
                                {{/if}}
                            </p>
                            <a href="/view/{{this.id}}" class="btn btn-primary">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    data-bs-image="{{this.fileName}}" data-bs-imageId="{{this.id}}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
    </div>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/delete" method="post" id="modal-form">
                    <div class="mb-3">
                        <input type="text" id="imageId" name="imageId" class="form-control" aria-label="image id" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" id="imageFileName" name="imageFileName" class="form-control" aria-label="image title" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Видалити</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>



<script>
    var exampleModal = document.getElementById('exampleModal')
    var modalForm = document.querySelector("#modal-form");
    var fieldImageId = modalForm.querySelector("#imageId");
    var fieldImageFileName = modalForm.querySelector("#imageFileName");

    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var image = button.getAttribute('data-bs-image')
        var modalTitle = exampleModal.querySelector('.modal-title')
        modalTitle.textContent = 'Для видалення зображення введіть назву файлу: ' + image

        var imageId = button.getAttribute('data-bs-imageId')
        fieldImageId.value = imageId
    })

</script>

{{> footer }}

