{{> header }}

<main id="main">
    <div class="container mt-5">
        <div class="row">
            <h1>Зображення</h1>

            <div class="col-12 col-md-6 col-lg-8">
                <div class="card p-3">
                    <canvas id="imageCanvas"></canvas>
                    <img src="/uploads/{{image.fileName}}" alt="" id="myImage" style="display: none">
                    <div class="card-body">
                        <h5 class="card-title">{{image.title}}</h5>
                        <p class="card-text">
                            {{#if image.isRecognized }}
                                Текст: {{image.fullTextAnnotation.text}}
                            {{else }}
                                Не розпізнано
                            {{/if}}
                        </p>
                        {{#unless image.isRecognized }}
                            <a href="/recognize/{{image.id}}" class="btn btn-primary">
                                Розпізнати
                            </a>
                        {{/unless}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                {{#if image.isRecognized }}
<!--                    <ul class="list-group">-->
<!--                        {{#each image.fullTextAnnotation.pages }}-->
<!--                            {{hbsDataItem this "pages"}}-->
<!--                        {{/each}}-->
<!--                    </ul>-->
                    <div id="treeview"></div>
                {{/if}}
            </div>

        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/bootstrap-treeview.min.js"></script>
<script>

</script>

<script>
    try {
        //Конвертуємо дані з hbs-об'єкта в JS-об'єкт
        var decodedJson = decodeURIComponent("{{{encodedJson}}}");
        var image = JSON.parse(decodedJson);
        //Відображаємо дані в інформаційному блоці в вигляді дерева
        renderTreeView();
        //Відображаємо дані на графічному полотні (canvas) в вигляді обмежувальних коробок
        var myImage = document.getElementById("myImage");
        var imageCanvas = document.getElementById("imageCanvas");
        var ctx = imageCanvas.getContext("2d");
        imageCanvas.width = myImage.width;
        imageCanvas.height = myImage.height;
        myImage.addEventListener("load", (e) => {
            ctx.drawImage(myImage, 0, 0);
            if (image.isRecognized) {
                image.fullTextAnnotation.pages.forEach((page) => {
                    page.blocks.forEach((block) => {
                        renderBox(block.boundingBox.vertices, "blue", 6);
                        block.paragraphs.forEach((paragraph) => {
                            renderBox(paragraph.boundingBox.vertices, "orange", 4);
                            paragraph.words.forEach((word) => {
                                renderBox(word.boundingBox.vertices, "green", 2);
                                word.symbols.forEach((symbol) => {
                                    renderBox(symbol.boundingBox.vertices, "yellow", 1);
                                })
                            })
                        })
                    })
                })
            }
        })

        //Відрисовка обмежувального боксу
        function renderBox(vertices, color, lineWidth) {
            ctx.strokeStyle = color;
            ctx.lineWidth = lineWidth;
            ctx.beginPath();
            ctx.moveTo(vertices[0].x, vertices[0].y);
            for (var i = 1; i < vertices.length; i++) {
                ctx.lineTo(vertices[i].x, vertices[i].y);
            }
            ctx.closePath();
            ctx.stroke();
        }


        function renderTreeView() {
            if (image.isRecognized) {
                var dataTreeView = [];
                console.log(image.fullTextAnnotation)
                image.fullTextAnnotation.pages.forEach((page) => {
                    var pageNode = {text: `Сторінка: ${page.confidence.toFixed(3)}`,nodes: []}
                    page.blocks.forEach((block) => {
                        var blockNode = {text: `Блок: ${block.confidence.toFixed(3)}`,nodes: []}
                        block.paragraphs.forEach((paragraph) => {
                            var paragraphNode = {text: `Параграф: ${paragraph.confidence.toFixed(3)}`,nodes: []}
                            paragraph.words.forEach((word) => {
                                var wordNode = {text: `Слово: ${word.confidence.toFixed(3)}`,nodes: []}
                                word.symbols.forEach((symbol) => {
                                    var symbolNode = {text: `"${symbol.text}": ${symbol.confidence.toFixed(3)}`}
                                    wordNode.nodes.push(symbolNode);
                                })
                                paragraphNode.nodes.push(wordNode);
                            })
                            blockNode.nodes.push(paragraphNode);
                        })
                        pageNode.nodes.push(blockNode);
                    })
                    dataTreeView.push(pageNode);
                })
                $('#treeview').treeview({
                    data: dataTreeView,
                    levels: 5,
                    icon: "glyphicon glyphicon-stop",
                    selectedIcon: "glyphicon glyphicon-stop",
                    color: "#000000",
                    backColor: "#FFFFFF",
                })
            }

        }

    } catch(error) {
        console.log(error.message)
    }


</script>
{{> footer }}

